input {
  padding: 5px;
  margin: 5px;
  size-adjust: 5px;
}

input[placeholder] {
  text-align: center;
}

.save {
  background-color: green;
}

.view {
  background-color: pink;
}

.radio {
  background-color: blue;
}

.nameTextBox {
  min-width: 500px;
}
